*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: ;
	background-image: url(backgroundspace.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

h1{
	color: white;
	text-align: center;
	font-size: 60px;
	font-family: fantasy;
}
h2{
	color: white;
	text-align: center;
	font-size: 30px;
	font-family: monaco;
}
h3{
	color: white;
	text-align: center;
	font-size: 30px;
	font-family: monaco;
	padding-left: 20px;
}
h4{
	color: white;
	text-align: center;
	font-size: 30px;
	font-family: monaco;
}
h5{
	color: white;
	text-align: center;
	font-size: 30px;
	font-family: monaco;
}
h6{
	color: white;
	text-align: center;
	font-size: 30px;
	font-family: monaco;
}
#l1{
	color: white;
	text-align: center;
}
form{
	text-align: center;
}
.container{  
text-align: center;  
}  
 
#valueInput{
	color: white;
	text-align: center;
  }
#valueInput2{
	color: white;
	text-align: center;
  }
#firstresult{
	color: white;
	text-align: center;
  }
#secondresult{
	color: white;
	text-align: center;
  }
#thirdresult{
	color: white;
	text-align: center;
  }
#forthresult{
	color: white;
	text-align: center;
  }
#fifthresult{
	color: white;
	text-align: center;
  }
#sixthresult{
	color: white;
	text-align: center;
  }
.container {
  display: flex;
  align-items: center;
  justify-content: center
}
.image {
  flex-basis: 9%
}


